<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{{{title}}}</title>
  {{{style}}}}
  <script src="remark-latest.min.js">
  </script>
  <script>
    var slideshow = remark.create({
      {{{source}}},
      // Set the slideshow display ratio
      // Default: '4:3'
      // Alternatives: '16:9', ...
      ratio: '4:3'}
    );
  </script>
</head>
<body onload="slideshow = create()">
</body>
</html>
